*{
    font-family: 'Quicksand', sans-serif;
    overflow:hidden;
}
body{
    background-color: #FF8686;
}

#title{
    position: absolute;
    display: inline-block;
    text-align: center;
    color: #ffff;
    width: 20vw;
    left:40vw;
    transition: 1s;
}

#title:hover{
    color: thistle;
    /* transform: rotate(180deg);
    font-size: 20vh; */
}

#particles-js {
    background: transparent;
    position:absolute;
    top: 0vh;
    left:0vw;
    width:100vw;
    height: 100vh;
}

/* question div that does NOT include enter text */
.question{
    position: absolute;
    left: 30vw;
    right: 30vw;
    top: 50%;
    transform: translateY(-50%);
    height: 30vh;
    width: 40vw;
    color: #ddd; 
    padding: 1vh; 
    text-align: center;
}

/* question text field */
#main-question{
    font-size: 4vh;
    color: white;
}

/* text field input */
 #text-field {
    height: 4vh;
    display: block;
    width: 10vw;
    background-color: rgba(255, 255, 255, 0.363);
    border-color: #fff;
    border-style: solid;
    margin: auto;
    border-radius: 1vh;
    font-size: 3vh;
    color: white;
    outline: none;
}

/* weird dot thing is gone */
.dot{
    display: none;
}

    /* to get yes and no on same line */
    .flex-container{
        display: flex;
        height: 15vh;

        padding-left: 5vw;
        padding-right: 5vw;
    }
    #yes-div{
        flex:1;
    }
    #no-div{
        flex:1;
    } 

.labell{
    display: inline-block;
    position: relative;
    margin-right: 1vw;
    padding-left: 1.5vw;
    cursor: pointer;
}

.labell:before{
    content: "";
    /* display: block;  */
    position: absolute;
    width: .9vw;
    height: 2vh;
    left: 0;
    top: 50%;
    margin-top: -1vh;
    border: .2vh solid #fff;
    border-radius: 5vh;;
}

.labell:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 1vw;;
    margin-top: 0;
    background: #fff;
    border-radius: 5vh;
    transition: .4s ease-in-out;
}

:checked + .labell:after {
      height:1.4vh;
      width: .7vw;
      margin-top: -.5vh;
      left: .2vw;
    }

    /* submit button stuff */
    #submit-but{
        display: none;
        position: absolute;
        text-align: center;
        padding: 1vh;
        top: 52vh;
        left:46vw;
        width:8vw;
        background-color: rgba(255, 255, 255, 0.609);
        border-color: transparent;
        border-style: solid;
        border-width: .5vh;
        border-radius: 2vh;
        transition: .5s;
    }   
    #submit-but:hover{
        border-color: #fad5f8;
    }
 
 #enter-label {
     position: absolute;
     display: none;
     top: 55vh;
     right:35vw;
     color: white;
     font-size: 1vw;
 }
 #yes-div {
     display: none;
 }
 #no-div {
     display: none;
 }

 

 
